<div class="container">
    <form>
        <div class="form-row">
            <label for="username">Username</label>
            <input>
        </div>

        <div class="form-row">
            <label for="password">Password</label>
            <input type="password">
        </div>

        <div class="form-row">
            <label for="confirm-password">Confirm Password</label>
            <input type="confirm-password">
        </div>

        <button type="button" class="register-btn">Register</button>
        <button type="button" class="login-btn" [routerLink]="['/login']">I already have an account</button>
    </form>
</div>