.container{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

form{
    margin-top: 150px;
    height: 500px;
    width: 350px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #d3c48c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-row{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

input{
    height: 40px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 0;
    border-radius: 3px;
    padding: 10px;
}

label{
    margin-bottom: 5px;
}

button{
    height: 40px;
    width: 200px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 0;
    border-radius: 3px;
    font-weight: 700;
    background-color: #c25757;
    cursor: pointer;
}

.delete-btn{
    margin-top: 25px;
}

.save-btn{
    margin-top: 30px;
    background-color: #6bac63;
}