::ng-deep .p-datatable-scrollable {
    .p-datatable-wrapper::-webkit-scrollbar {
        width: 5px;
    }
    .p-datatable-wrapper::-webkit-scrollbar-track {
        background: #ffffff;
    }
    .p-datatable-wrapper::-webkit-scrollbar-thumb {
        background: #458047;
    }
    .p-datatable-wrapper::-webkit-scrollbar-thumb:hover {
        background: #4caf50;
    }
}

::ng-deep .p-datatable-wrapper {
    padding: 0px !important;
}

::ng-deep .p-datatable .p-datatable-tbody {
    background-color: white;
    min-height: 64vh;
}

::ng-deep .p-datatable {
    border-collapse: separate;
    border-spacing: 5em;
}

.manage-courses {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    td:last-of-type {
        padding: 5px;
    }
    th:last-of-type {
        padding: 5px;
    }
    .actions {
        display: flex;
        padding: 0;
        width: 100%;
        justify-content: space-between;
        i {
            cursor: pointer;
            color: #4caf50;
        }
        i:hover {
            font-weight: bold;
        }
    }
    .add-button-wrapper {
        width: 100%;
        display: flex;
        justify-content: end;
        margin-bottom: 2rem;
        padding-right: 2rem;
    }
}

.courses-list {
    width: calc(100% - 4rem);
    min-width: 800px;
    .table {
        width: 100%;
    }
}
