<header>
    <h2 (click)="navigateHome()">RecipeBuddy</h2>
    <div class="links">
        <a [routerLink]="['home']" routerLinkActive="router-link-active">Home</a>
        <a [routerLink]="['view-courses']" routerLinkActive="router-link-active" >Courses</a>
        <a [routerLink]="['manage-courses']" routerLinkActive="router-link-active" *ngIf="isMentor && isUserLoggedIn()">Manage Courses</a>
        <a [routerLink]="['recipes']" routerLinkActive="router-link-active">Recipes</a>
        <a [routerLink]="['view-subscriptions']" routerLinkActive="router-link-active" *ngIf="isUserLoggedIn()">Subscriptions</a>
        <a [routerLink]="['profile']" routerLinkActive="router-link-active" *ngIf="isUserLoggedIn()">Profile</a>
        <a *ngIf="!isUserLoggedIn()" [routerLink]="['login']" routerLinkActive="router-link-active" >Login</a>
        <a *ngIf="isUserLoggedIn()"
            (click)="logout()">Logout</a>
    </div>
</header>