<header>
    <h2>RecipeBuddy</h2>
    <div class="links">
        <a [routerLink]="['home']"
           routerLinkActive="router-link-active">Home</a>
        <a [routerLink]="['view-courses']"
           routerLinkActive="router-link-active">Courses</a>
        <a [routerLink]="['manage-courses']"
           routerLinkActive="router-link-active"
           *ngIf="isMentor">Manage Courses</a>
        <a [routerLink]="['login']"
           routerLinkActive="router-link-active">Login</a>
        <a (click)="logout()"
           *ngIf="token">Logout</a>
    </div>
</header>