.view-courses-page {
    min-height: 90vh;
    width: 100%;
}

.view-courses-background-image {
    width: 100%;
    min-height: 30rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('../../../../../assets/images/home-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.view-courses-background-image > h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4em;
}

.view-courses-subtitle {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5rem auto 0 auto;
    border-top: 1px solid rgb(129, 127, 127);
}

.view-courses-subtitle > h1 {
    position: relative;
    top: -0.6em;
    font-size: 2em;
    text-align: center;
    padding: 0 0.5em;
    background-color: #fffadd;
    text-transform: uppercase;
    font-weight: 200;
}