<div class="container">
    <form [formGroup]="loginForm">
        <div class="form-row">
            <label for="username">Username</label>
            <input id="name"
                   formControlName="name"
                   autocomplete="off"
                   placeholder="Enter username">
        </div>

        <div class="form-row">
            <label for="password">Password</label>
            <input id="password"
                   type="password"
                   formControlName="password"
                   autocomplete="off"
                   placeholder="Enter password">
        </div>

        <button type="button"
                class="login-btn"
                (click)="submitLogin()">Login</button>
        <button type="button"
                class="create-btn"
                [routerLink]="['/register']">I don't have an account</button>
    </form>
</div>