<div class="container">
    <form [formGroup]="loginForm">
        <div class="form-row">
            <label for="name">Username</label>
            <input id="name"
                   formControlName="name">
        </div>

        <div class="form-row">
            <label for="password">Password</label>
            <input id="password"
                   type="password"
                   formControlName="password">
        </div>

        <button type="button"
                class="login-btn"
                (click)="submitLogin()">Login</button>
        <button type="button"
                class="create-btn"
                [routerLink]="['/register']">I don't have an account</button>
    </form>
</div>